.main{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.maindiv{
    width:1120px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.selectdiv{
    font-size: 20px;
}
.selectdiv select{
    font-size: 18px;
}